:root {
    --backgroundColor: brown;
    --colorShadeD: #e7b2a5ff;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
    
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  .button_animation {
    
    outline: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    width: 90;
    height: 40px;
    text-align: center;
    line-height: 0em;
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-weight: 700;
    font-size: large;
  }
  
  
  
  .button_animation::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    
  }
  
  .button_animation:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  
  }
  
  .button_animation:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  
    .button_animation:active {
      transform: translate(0em, 0.75em);
  }
  
  .button_animation:active::before {
  transform: translate3d(0, 0, -1em);
  
  
  
  }
  
  
  
  
  }
  
  
  
  //animation Css for 宿泊施設//
  
  .button_animation1{
  
    outline: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    width: 90;
    height: 40px;
    text-align: center;
    line-height: 0em;
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-weight: 700;
    font-size: large;
  }
  
  
  .button_animation1::before{
  
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  .button_animation1:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  
  }
  
  .button_animation1:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  
    .button_animation1:active {
      outline: none;
      transform: translate(0em, 0.75em);
  }
  
  .button_animation1:active::before {
  transform: translate3d(0, 0, -1em);
  
  
  
  }
  
  
  
  }
  