body{
    font-family: 'M PLUS 1p', sans-serif;
}

.backgorund{
    background: #fef6e4;
}

/* タイトル */
.headline {
    color: #001858;
    font-weight: bold;
  
}

.button-text{
    color: #001858;
    text-decoration: none;

}

/* 段落*/
.ParaGraph{
    color: #172c66;
}

.stroke{
    border: solid 5px #001858;
    border-radius: 8px;
}

.button{
    font-size: 3vh;
    background: #f582ae;
    border-radius: 5px;
    font-weight: bold;
}

.button2{
    background: #f582ae;
}

.main{
    background: #f3d2c1;
}

.secondary{
    color: #8bd3dd;
}

.card-heading{
    background: #172c66;
}

.card-paragraph{
    color: #172c66;
}

.shadow1{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}