
body{
  overflow:hidden;
  top: 0 !important;
}

 #goog-gt-tt{
  display: none !important;
  visibility: hidden !important;
}
#goog-gt-tt:hover{
  display: none !important;
  visibility: hidden !important;
}
header{
  font-size: 16px;
}

.goog-tooltip:hover{
  display: none !important;
  visibility: hidden !important;
} 

.goog-text-highlight{
  background: none !important;
  box-shadow: none !important;

}

.goog-text-highlight:hover{
  background: none !important;
  box-shadow: none !important;
}


.abc{
  font-size: 3vh;
  width: 100%;
  height: 100vh;
  /* display: flex;
  
  justify-content: center;
  
  align-items: center;
  */
  overflow: hidden;
}
h1
{
    text-align: center;
}
#first_search{
    margin: 25;
    padding: 20;
    /* position: absolute; */
    top: 10%;
    left: 55%;
}

.cate,.cate2 {
  display: none;
}
.cate + .check:before, .cate2 + .check2:before  {
  content: "\f3a6";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 22px;
}
.cate:checked + .check:before, .cate2:checked + .check2:before {
  content: "\f3a7";
  color: #001858;
}



.selecter{
 width: 40vw;
 margin-top: 0;
 text-align:left;
 margin: 0 auto;
}
.catagory{
  margin: 0 auto;
  width:80%;

  
}
.map_view{

  margin: 5vw;
  width: 60vw;
}

.search{
  padding:1%;
  width: 40%;
  text-align: center;
  margin: 4vw auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}


.search > img{
  width: 5vh;
}
    /* * {
        margin: 0px;
        box-sizing: border-box;
         */
       

      
      h2 {
        margin: 16px;
      }
      
      .container {
        width:80%;
        margin: 0 auto;
        margin-top: 40px;
        /* padding: 32px; */
      }
      
      .select-box {
        position: relative;
        top: 10%;
        right: 1%;
        display: flex;
        
        flex-direction: column;
      }
      .select-box input{
        width: 80%;
      }


      .select-box .options-container {
        position: absolute;
        max-height: 0;
        width: 100%;
        opacity: 0;
        top: 100%;
        transition: all 0.4s;
        border-radius:8px 8px;
        overflow: hidden;
      
        order: 1;
      }
      
      .selected {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 8px;
        position: relative;
        background: white;
        order: 0;
      }
      .selected > img{
        width: 3vh;
        height: 3vh;
      }
      
      /* .selected::after {
        content: "";
        background: url("../img/image.png");
        background-size:contain;
        background-repeat: no-repeat;
      
        position: absolute;
        height: 100%;
        width: 32px;
        right: 10px;
        top: 4px;
      
        transition: all 0.4s;
      } */
      
      .select-box .options-container.active {
        max-height: 90%;
        opacity: 1;
        overflow-y: scroll;
        background: #001858;
      }
      
      .select-box .options-container.active + .selected::after {
        transform: rotateX(180deg);
        top: -6px;
      }
      
      .select-box .options-container::-webkit-scrollbar {
        width: 8px;
       background: #172c66;
        border-radius: 0 8px 8px 0;
      }
      
      .select-box .options-container::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 0.2vh ;
      }
      
      .select-box .option,
      .selected {
        padding: 12px 24px;
        cursor: pointer;
      }
      

      
      .select-box label {
        cursor: pointer;
        color: white;
      }
      
      .select-box .option .radio {
        display: none;
      }
      
      /* Searchbox */
    .search-box{
      height: 0;
    }


    .search-box input {
        /* width: 80%; */
        width: 100%;        
        padding: 12px 16px;
        /* font-family: "Roboto", sans-serif; */
        font-size: 16px;
        /* position: absolute; */
        border-radius: 8px 8px 0 0;
        z-index: 100;
        box-sizing: border-box;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s;
  }
  .search-box input:focus {
    outline: none;
  }
  
  .select_gener{
    background: white;
  }

  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }
#box
{
    /* position:absolute; */
    top:50%;

    left:90%;
    transform: translate(-50%,-50%);
}
#box select
{
    

    padding: 10px;
    width:200px;
    height: 40px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    -webkit-appearance:button;
    outline:none;



}
#box::before{
    content:'\f0c9';
    /* position: absolute; */
    top:0;
    right:0;
    width:40px;
    height:40px;
 
    /* font-family: Fontawesome; */
    display: flex;
    align-items: center;



}
#box:hover:before
{
  
    pointer-events: none;

}



@media screen  and  (max-width:768px) {

.search{
  margin: 10vw auto;
}
body{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
}

.map_view{
width: 80%;
margin: 0 auto;
order: 1;
}
.selecter{
  text-align: left;
  width: auto;
  order: 2;
  width: 100%;
  margin-top:5vw ;
}
.maps{
  height: 100%;
  width: 100% !important;
}

.abc{
  font-size: 2.8vh;
  height: auto;
  flex-direction: column;
  height: 99%;
}

.container{
margin-top: 0;
} 

.selected {
  color: #001858;
  margin-bottom: 4px;
  position: relative;
}
.catagory{
  border-radius: 2px;
}
.option{
  font-size: 16px;
}
}

 #header{
 
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 85vw;
  height: 9vh;
  margin: 2vw 7.9vw;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5vh;
 
} 
.skiptranslate iframe{
  display:none ;
}

.goog-te-gadget-simple{
border: none !important;
background-color: #001858!important;
padding: 8px 0 !important;
border-radius: 8px !important;
}

.goog-te-menu-value > span {
  color: white;
}