body {
  background-color: #e7b2a5ff;
  top: 0px !important;
}

/*各施設*/
.hotel_box {
  background: linear-gradient(315deg, transparent 20px, white 20px);
  background-position: bottom left, top left, top right, bottom right;
  background-repeat: no-repeat;
  ul {
    padding: 0;
    width: 50vw;
    line-height: 2.5rem;
    li {
      list-style-type: none;
    }

    /*施設名*/
    :nth-child(1) {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .search{
      display: flex;
      justify-content: center;
      height: 40px;
    }

  }

  #search-input{
    height: 100%;
  }
  #search-buttom{
    height: 100%;
  }
  // background: white;
  margin: 2rem 2rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: auto;
  /*施設画像*/
  img {
    height: 18rem;
    width: 18rem;
  }
  /*レビュー☆*/
  .image {
    width: 2rem;
    height: 2rem;
  }

  /*最安料金～詳細情報URL*/
  .hotel_child {
    p {
      margin: 0;
      margin-bottom: 7rem;
    }
    a {
      text-decoration: none;
      color: #a59d9c;
      padding: 0.5rem 1.5rem;
      border: solid 1px #a59d9c;
    }
  }
}

// .header {
//   background: white;
//   margin: 0;
//   height: 100%;

//   a {
//     font-size: 200%;
//     text-decoration: none;
//   }
// }
.display {
  display: block;
}
.display_none {
  display: none;
}

#next_page,
#back_page {
  background: none;
  font-weight: bold;
  color: white;
  border: none;
}
#next_page,
#back_page:focus {
  outline: 0;
}
.pageing {
  display: flex;
  justify-content: center;
}

#page_nam{
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
 border-radius: 10px;
}

.page {
  color: white;
  margin: 0 0.5rem;
}

.page1{
  color: #172c66;
  outline: none;
  box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
  background-color: white;
  padding: 0.5rem;
  width: 5vh;
  border: none;
  margin: 0 0.2vh;
  border-radius: 2px;
}



.page:hover {
  color: red;
  border: none;
}
//------------------------------------------
//------------------------------------------
//------------------------------------------
form {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}



.navi {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.navis{
  display: flex;  
}

.navi2 {
  position: relative;
  width: 18vw;
  top: 0;
  bottom: 0;

  .gener {
    width: 100%;
  }
  p {
    margin-top: 0;
    position: relative;
    text-align: center;
    font-size: 0.5rem;
  }
  p:hover {
    color: blue;
  }
  .display_none {
    display: none;
  }
  .cate {
    width: 100%;
    position: absolute;
    background: white;
    .sort {
      width: 100%;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      color: transparent;
      border: none;
      outline: none;
    }
  }
}

.navi3 {
  position: relative;
  width: 18vw;
  top: 0;
  bottom: 0;

  .area {
    width: 100%;
  }
  p {
    margin-top: 0;
    position: relative;
    text-align: center;
    font-size: 0.5rem;
  }
  p:hover {
    color: blue;
  }
  .display_none {
    display: none;
  }
  .gener2{
    width: 100%;
  }
  .cate2 {
    width: 100%;
    position: absolute;
    background: white;
    .area1 {
      width: 100%;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      color: transparent;
      border: none;
      outline: none;
    }
  }

    .sort2{
      width: 100%;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      color: transparent;
      border: none;
      outline: none;
  }
}



@media screen and (max-width: 768px) {
  body {
    background-color: #e7b2a5ff;
    width: 100%;
  }
  .word{
    display: flex;
    justify-content: space-between;
  }
 .navi{
   display: block;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 999;
    margin: 0;
 }
 .search{
  display: flex;
}
.navis{
  div{
    width: 50%;
  }
}
  form{
    display: block;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 999;
    margin: 0;
  }



  #list {
    display: flex;
    -webkit-flex-wrap: wrap;

    /* Safari etc. */
    -ms-flex-wrap: wrap;

    /* IE10        */
    flex-wrap: wrap;

    /* grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
     grid-gap: 5px;*/
  }

  .hotel_box {
    position: relative;
    display: block;
    width: 100%;
    height: 550px;

    ul {
      position: relative;
      font-size: small;
      width: auto;
      margin: 4%;

      :nth-child(1) {
        word-wrap: break-word;
        font-size: 0.9rem;
        line-height: normal;
        font-weight: bold;
        font-style: normal;
      }

      li {
        line-height: normal;
        width: 100%;
        list-style: none;
      }
    }

    img {
      width: 98%;
      height: 40%;
      margin: 1%;
    }

    .hotel_child {
      position: absolute;
      bottom: 5%;
      width: 100%;
      a {
        width: 100%;
        text-decoration: none;
        color: #A59D9C;
        padding: 0.5rem 1.5rem;
        border: solid 1px #A59D9C;
        position: relative;
        margin: 4%;
      }

      p {
        margin-bottom: 10%;
        margin-left: 4%;
      }
    }
  }
}

#header{
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 85vw;
  height: 10vh;
  margin: 1vw auto;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5vh;

}
.skiptranslate iframe{
  display:none ;
}

.goog-te-gadget-simple{
border: none;
background-color: #001858 !important;
padding: 8px 0 !important;
border-radius: 8px;
}

.goog-te-menu-value > span {
  color: white;
}
.hide{
  transform: translateY(-100%);
}