body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1vw;
    position: fixed;
  }
  

  img{
    height: 40vh;
  }
  .logo {
    width: 100%;
  }
  
  .a {
    padding: 1rem;
    width: 55%;
    position: relative;
  }
  
  .b {
    display: flex;
    justify-content: center;
    margin-right: 26vh;
    padding-top: 10vh;
    position: relative;
    display: flex;
  }
  
  .right{
   width: 40%;
  }
  
  .norenn {
    position: absolute;
    z-index: 100;
  }
  
  .box {
    animation: anim 1s forwards;
  }
  
  .right_door {
    position: absolute;
    top: 70px;
    left: 212px;
  }
  
  @keyframes anim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translate(-212px, -35px);
    }
  }
  
  @media screen and (max-width: 700px){
      body{
          display: block;
          font-size: 2vh;
      }
      .logo{
        height: 20vh;
        object-fit: contain;
      }
      .b{
        height: 50vh;
        position:relative;
        img{
          height: 40vh;
          top: 16vh;
          left: 50%;
          right: 50%;
        }
        .aaaa
        {
          padding-left: 5vh;
        }      
        }
      .a{
        width: 100%;
        padding: 0;
        .norenn{
          right: 0;
          left: 0;
          margin: 0 auto;
          height: 36vh;
        }
      }
      .right_door{
        padding-left: 10vh;
      }
  }  